<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DESSERT MENU:</title>
    <meta charset="UTF-8">
    <title>Lunch Menu:</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css" media="screen" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style-portfolio.css">
    <link rel="stylesheet" href="css/picto-foundry-food.css" />
    <link rel="stylesheet" href="css/jquery-ui.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link rel="icon" href="favicon-1.ico" type="image/x-icon">
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="row">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html#top">Season's Restaurant</a>
                </div>
                <!--=============DINNER==================-->

                
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav main-nav  clear navbar-right ">
                        <li><a class="navactive color_animation" href="index.html#top">Welcome</a></li>
                        <li><a class="color_animation" href="index.html#story">About</a></li>
                        <!-- <li><a class="color_animation" href="#pricing">PRICING</a></li> -->
                        <li><a class="color_animation" href="index.html#beer">Beer</a></li>
                        <li><a class="color_animation" href="voucher/voucher.html">Voucher</a></li>
                        <li><a class="color_animation" href="index.html#featured">Featured</a></li>
                        <li><a class="color_animation" href="index.html#reservation">Reservation</a></li>
                        <li><a class="color_animation" href="index.html#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div id="top" class="dessert_container bg">
        <div class="dessert_text">
          <h2><b>Season’s Restaurant</b></h2>
          <h3><b>DUBLIN</b></h3><br>
          <h3><b>DESSERT MENU</b></h3><br>

          <h4><b>Creole Pecan Pie</b></h4>
          <h6> w/ whipped cream</h6>
          <h4><b>€10.50</b></h4>
          <h4><b>Banoffee Pie</b></h4>
          <h6> shortbread & pecan crust layered<br> w/ caramel
            & bananas topped w/ whipped cream</h6>
            <h4><b>€9.75</b></h4>
            <h4><b>Strawberry-Coconut Pie</b></h4>
            <h6>coconut cream filling topped w/ fresh glazed strawberries,<br>
                served w/ vanilla lime sauce</h6>
                <h4><b> €9.50</b></h4>
                <h4><b> Dark Chocolate & Peanut Butter Stack</b></h4>
                <h6>devil’s food cake w/ peanut butter mousse,
                    peanut crunch & <br>dark chocolate ganache
                    served w/ housemade peanut butter ice cream</h6>
                    <h4><b>€10.50</b></h4>
                    <h4><b>White Chocolate & Strawberry Layer Cake</b><h4>
                        <h6>w/ white chocolate cream cheese frosting
                            served<br> w/ vanilla ice cream</h6>
                            <h4><b>€12.00</b></h4>
                            <h4><b>Milk Chocolate Cream Pie</b></h4>
                            <h6>rich milk chocolate pudding
                                on a dark chocolate cookie <br>crust
                                served w/ vanilla whipped cream</h6>
                                <h4><b>€10.00</b></h4>
                                <h4><b>Apple-Spice Jelly Roll</b></h4>
                                <h6>apple butter & spiced molasses cake
                                    served<br> w/ homemade cream cheese ice cream
                                    & hot mulled cider sauce.</h6>
                                    <h4><b>€10.50</b></h4>
                                    <h4><b>Bartlett Pear Crisp</b></h4>
                                    <h6>w/ oat, coconut & almond topping,
                                        served warm<br> w/ homemade buttermilk
                                        caramel ice cream</h6>
                                        <h4><b>€11.50</b></h4>
                                        <h4><b>Red Velvet Layer Cake</b></h4>
                                        <h6> w/ cream cheese frosting
                                            served w/ vanilla ice cream</h6>
                                            <h4><b>€10.50</b></h4>




                                        </div>
                                    </div>
                                </div>

                                <!--=====================Footer==================-->

                                <footer class="sub_footer">
                                    <div class="container">
                                       <div class="col-md-4"><p class="sub-footer-text text-center"> <a href="#top" target="_blank"><spam class="footer-name"> Season's Restaurant</spam></a></p></div>
                                       <div class="col-md-4"><p class="sub-footer-text text-center">Back to <a href="#top">TOP</a></p>
                                       </div>
                                       <div class="col-md-4"><p class="sub-footer-text text-center"> <a href="#" target="_blank">©2016 The Season's Restaurant All Rights Reserved | web development by Dara's Digital</a></p>        </div>
                                   </div>
                               </footer>


                               <script type="text/javascript" src="js/jquery-1.10.2.min.js"> </script>
                               <script type="text/javascript" src="js/bootstrap.min.js" ></script>
                               <script type="text/javascript" src="js/jquery-1.10.2.js"></script>     
                               <script type="text/javascript" src="js/jquery.mixitup.min.js" ></script>
                               <script type="text/javascript" src="js/main.js" ></script>

                               
                           </body>
                           </html>
                           
                       </body>
                       </html>