<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>DINNER MENU:</title>
	<link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css" media="screen" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style-portfolio.css">
    <link rel="stylesheet" href="css/picto-foundry-food.css" />
    <link rel="stylesheet" href="css/jquery-ui.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link rel="icon" href="favicon-1.ico" type="image/x-icon">
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="row">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html#top">Season's Restaurant</a>
                </div>
                <!--=============DINNER==================-->

                
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav main-nav  clear navbar-right ">
                        <li><a class="navactive color_animation" href="index.html#top">Welcome</a></li>
                        <li><a class="color_animation" href="index.html#story">About</a></li>
                        <!-- <li><a class="color_animation" href="#pricing">PRICING</a></li> -->
                        <li><a class="color_animation" href="index.html#beer">Beer</a></li>
                        <li><a class="color_animation" href="voucher/voucher.html">Voucher</a></li>
                        <li><a class="color_animation" href="index.html#featured">Featured</a></li>
                        <li><a class="color_animation" href="#reservation">Reservation</a></li>
                        <li><a class="color_animation" href="index.html#contact">Contact</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>
        </div><!-- /.container-fluid -->
    </nav>
    <div id="top" class="dinner_container bg">
        <div class="dinner_text">

          <h2><b>Season’s Restaurant</b></h2>
          <h3><b>DUBLIN</b></h3><br>
          <h3><b>DINNER MENU</b></h3>

          <h3><b>STARTERS</b></h3><br>
          <h4><b>Cauliflower & Chervil Soup - €9</b></h4>
          <h5>Shaved Florets, Buerre Noisette</h5>
          <h4><b>Silver Darlings - €10</b></h4>	
          <h5>Smoked Yogurt, White Onion, Apple Compressed Cucumber</h5>
          <h4><b>Harty Oyster Collection - €13</b></h4>
          <h5>Pork Skin, Lime Crystals, Beetroot & Orange, Mignonette, Chilli & Lime</h5>
          <h4><b>Salmon & Avocado Ceviche - €13</b></h4>
          <h5>Red Shallot, Pickled Radish Carpaccio, Brioche Crumb</h5>
          <h4><b>Sweet Potato Spaghetti - €10</b></h4>
          <h5>Basil Leaf, Cured Tomato & Greek Feta</h5>
          <h4><b>Seared Scallop - €13</b></h4>
          <h5>Black Parmesan, Lemon Gel, Crispy Capers & Roe Powder</h5>
          <h4><b>Add a matching glass of wine to your starter - €11.00 (18.75cl)</b><br>
              <h3><b>MAINS</b></h3><br>
              <h4><b>Taste of Pork - €22</b></h4>
              <h5>Crisp Belly, Ham Hock Croquet & Clonakilty Pudding Soil, Apple Vanilla, Red Onion Crisps</h5>
              <h4><b>Ailsbury Duck Breast, Carrot & Orange - €24</b></h4>
              <h5>Sweet Carrot Puree, Orange & Cardamom, Baby Carrot Tops, Foie Gras & Orange Jus</h5>
              <h4><b>Caramelized Celeriac & Goats Curd - €18</b></h4>
              <h5>Charred Baby Gem, Carrot Ribbons & Polenta Crumble</h5>
              <h4><b>Ring of Kerry Lamb - €21</b></h4>
              <h5>Seared Loin, Braised Shoulder, Leek 3 Ways, Burnt Cauliflower, Merlot Glaze</h5>
              <h4><b>Sous Vide of Irish Monkfish - €26</b></h4
                  <h5>Shiitake Mushrooms, Pickled Red Cabbage, Blackened Corn& Crisp Sprout</h5><br><br>
                  <h4><b>8oz Striploin of Irish Beef - €28</b></h4>
                  <h5>Potato Fondant, Spinach Purée, Baby Carrots</h5>
                  <h4><b>Grilled 6oz Fillet of Irish Beef - €32</b></h4>
                  <h5>Colcannon, Baby Irish Vegetables</h5>
                  <h4><b>Add a matching glass of wine to your main course - €13.00 (18.75cl)</b></h4>
                  <h4><b>The Mojito - €12</b></h4>
                  <h4><b>Soufflé of the day - €9</b></h4><br>
                  <p>At Season's Restaurant Dublin, we consciously purchase our food from sustainable <br>sources, and we support local growers and producers
                      Where possible. <br>The best quality meat and fish is hand-selected by our team of chefs from Irish <br>farms and harbours.
                      Certain items on our menu may contain allergens or trace allergens,<br> which may cause an allergic reaction. If you have an allergy,<br>
                      or need any assistance with our menu,please contact a member of our team.</p><br><br>



                  </div>
              </div>
          </div>

          <!--=====================Footer==================-->

          <footer class="sub_footer">
            <div class="container">
               <div class="col-md-4"><p class="sub-footer-text text-center"> <a href="#top" target="_blank"><spam class="footer-name"> Season's Restaurant</spam></a></p></div>
               <div class="col-md-4"><p class="sub-footer-text text-center">Back to <a href="#top">TOP</a></p>
               </div>
               <div class="col-md-4"><p class="sub-footer-text text-center"> <a href="#" target="_blank">©2016 The Season's Restaurant All Rights Reserved | web development by Dara's Digital</a></p>        </div>
           </div>
       </footer>


       <script type="text/javascript" src="js/jquery-1.10.2.min.js"> </script>
       <script type="text/javascript" src="js/bootstrap.min.js" ></script>
       <script type="text/javascript" src="js/jquery-1.10.2.js"></script>     
       <script type="text/javascript" src="js/jquery.mixitup.min.js" ></script>
       <script type="text/javascript" src="js/main.js" ></script>

       
   </body>
   </html>
   
</body>
</html>