{% extends 'base.html' %}
{% block content %}
    <!---==============--Location--===============-->

    <div class="container">
        <div class="row">
            <h1 style="font-size: 34px; text-align: center; color:black; font-family:cursive;"><b>Seasons Restaurant</b></h1>
            <h3 style="font-size: 20px; text-align: center; ">43 Dame Street <br> Dublin 2<br> Ireland <br> <a href="#">
                <span class="glyphicon glyphicon-map-marker"></span></a></h3>
            <div style="width: 30%">
                <iframe width="100%" height="600"
                        src="http://www.mapi.ie/create-google-map/map.php?width=100%&amp;height=600&amp;hl=en&amp;q=43%20dame%20street%20dublin%202%20ireland+(Seasons%20Restaurant)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=A&amp;output=embed"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                    <a href="http://www.mapsdirections.info/pt/crie-um-google-map/">
                        Gerar e embed código do Google Maps</a> on
                    <a href="http://www.mapsdirections.info/pt/">Calcular Rota</a>
                </iframe>
            </div>
        </div>
    </div>
    <br>
{% endblock %}