<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Lunch Menu:</title>
	<link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css" media="screen" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style-portfolio.css">
    <link rel="stylesheet" href="css/picto-foundry-food.css" />
    <link rel="stylesheet" href="css/jquery-ui.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link rel="icon" href="favicon-1.ico" type="image/x-icon">
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="row">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html#top">Season's Restaurant</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav main-nav  clear navbar-right ">
                        <li><a class="navactive color_animation" href="index.html#top">Welcome</a></li>
                        <li><a class="color_animation" href="index.html#story">About</a></li>
                        <!-- <li><a class="color_animation" href="#pricing">PRICING</a></li> -->
                        <li><a class="color_animation" href="index.html#beer">Beer</a></li>
                        <li><a class="color_animation" href="voucher/voucher.html">Voucher</a></li>
                        <li><a class="color_animation" href="index.html#featured">Featured</a></li>
                        <li><a class="color_animation" href="index.html#reservation">Reservation</a></li>
                        <li><a class="color_animation" href="index.html#contact">Contact</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>
        </div><!-- /.container-fluid -->
    </nav>
    <div id="top" class="Lunch_container bg">
        <div class="lunch_text">
         <h2><b> Season’s Restaurant</b></h2>
         <h3><b>LUNCH MENU</b></h3>
         <h3><b>STARTERS</b></h3>
         <b><h4>Vegetable Soup with VM Breads </b></h4><h6>(V) (C)</h6><br>
         <h4>Prawn Cocktail Plate with Sauce Marie Rose</h4>
         <h4>Lemon Pepper Chicken, Cherry Tomato, Crouton, Baby Gem Lettuce <br> & Parmesan Salad with Caesar Dressing </h4><h6>(C, No croutons)</h6><br>
         <h4>Wonton of Castlemine Farm Pork Shoulder Confit,<br> Vegetable & Chicken with Curried Chick Peas, Glenisk Organic<br> Natural Yoghurt, Pickled Red Onion & Cucumber</h4><br><br><br>
         <h3><b>MAINS</b></h3>
         <h4>Braised Shank of Irish Lamb with Root Vegetable <br>Espagnole & Gremolata</h4>
         <h4>Irish Free Range Chicken with Wild Mushroom Barley <br>Ragout, Wild Garlic, Roast Butternut Squash & Celeriac & <br>Chicken Wing Jus </h4><h6>(C)</h6>
         <h4>Herterich's of Longford Pork Fillet Scaloppini, <br>Salad of Feta Cheese, Cherry Tomato, Onion & Pickled Vegetables,<br> Villa Monodori Aged Balsamic</h4>
         <h4>Pan Fried Tory Island Hake with Beetroot & Mushroom<br> Ragout, Roast Pepper Gel & Rocket Salad</h4><h6> (C)</h6>
         <h4>John Stone Aged Feather Blade of Beef,<br> 48 Hrs at 64C with Peppercorn Courvoisier Sauce,</h4>
         <h4>Horseradish Potato & Crispy Onions (C No Onions)<br>
          Celeriac Lasagna with Vegetable Provencale, Rucola & Herb Oil </h4><h6>(V)</h6>
          Tea / coffee
          €49.00
          Children's Lunch menu available at €25.00<br><br>


      </div>
  </div>
</div>


<!--=====================Footer==================-->

<footer class="sub_footer">
    <div class="container">
       <div class="col-md-4"><p class="sub-footer-text text-center"> <a href="#top" target="_blank"><spam class="footer-name"> Season's Restaurant</spam></a></p></div>
       <div class="col-md-4"><p class="sub-footer-text text-center">Back to <a href="#top">TOP</a></p>
       </div>
       <div class="col-md-4"><p class="sub-footer-text text-center"> <a href="#" target="_blank">©2016 The Season's Restaurant All Rights Reserved | web development by Dara's Digital</a></p>        </div>
   </div>
</footer>


<script type="text/javascript" src="js/jquery-1.10.2.min.js"> </script>
<script type="text/javascript" src="js/bootstrap.min.js" ></script>
<script type="text/javascript" src="js/jquery-1.10.2.js"></script>     
<script type="text/javascript" src="js/jquery.mixitup.min.js" ></script>
<script type="text/javascript" src="js/main.js" ></script>


</body>
</html>