{% extends 'base.html' %}
{% block content %}

    <div class="container">

        <div class="row">

            <article class="span12">
                <h2 id="fly_left_openingtime" style="right: 0px;">Opening Time</h2>
                <h5 style="text-align: center; font-size: 23px;"> Our Reception is open from 9am until late Monday - Friday and 10am Saturday and Sunday from 1pm to
                    5pm</h5>
                <p class="more">
                </p>
                <div align="center">
                    <b>
                       <h6 style="text-align: center; font-size: 20px;"> RESTAURANT IS OPEN LATE 7 NIGHT A WEEK AND ALL BANK HOLIDAYS/ PUBLIC HOLIDAYS</h6>
                    </b>
                    <br>
                    <h5 style="font-size: 15px;">
                    . Monday to Friday from 5pm
                    <br>
                    . Saturday from 3pm
                    <br>
                    . Sunday from 1pm</h5>
                    <br>
                    <a href="http://www.ireland-guide.com/establishment/fire.5416.html" target="_blank">
                        <img src="http://www.ireland-guide.com/images/logos/download/recommend/low_portrait.jpg" alt=""
                             style="border-width: 0px;">
                    </a>
                    <p></p>

                </div>
            </article>

        </div>

    </div>


{% endblock %}