{% extends "base.html" %}
{% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td><img  src="{{ MEDIA_URL }}{{ product.image }}" class="products-img"></td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>${{ product.price }}</td>
                <td><a href="{% url 'make_payment_stripe' %}">Buy Now</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}