
<!--=====================
          Content
======================-->
{#<div id="rev-container">#}
{#    <div class="form-group row">#}
{#  <label for="example-text-input" class="col-xs-2 col-form-label">Name</label>#}
{#  <div class="col-xs-6">#}
{#    <input class="form-control" type="text" value="Enter First Name" id="example-text-input">#}
{#  </div>#}
{#</div>#}
{#<div class="form-group row">#}
{#  <label for="example-search-input" class="col-xs-2 col-form-label">SurName</label>#}
{#  <div class="col-xs-6">#}
{#    <input class="form-control" type="search" value="Enter SurName" id="example-search-input">#}
{#  </div>#}
{#</div>#}
{#<div class="form-group row">#}
{#  <label for="example-email-input" class="col-xs-2 col-form-label">Email</label>#}
{#  <div class="col-xs-6">#}
{#    <input class="form-control" type="email" value="yourname@example.com" id="example-email-input">#}
{#  </div>#}
{#</div>#}
{##}
{#<div class="form-group row">#}
{#  <label for="example-tel-input" class="col-xs-2 col-form-label">Telephone</label>#}
{#  <div class="col-xs-6">#}
{#    <input class="form-control" type="tel" value="(01)-555-5555" id="example-tel-input">#}
{#  </div>#}
{#</div>#}
{##}
{##}
{##}
{#<div class="form-group row">#}
{#  <label for="example-date-input" class="col-xs-2 col-form-label">Date</label>#}
{#  <div class="col-xs-6">#}
{#    <input class="form-control" type="date" value="2011-08-19" id="example-date-input">#}
{#  </div>#}
{#</div>#}
{##}
{#<div class="form-group row">#}
{#  <label for="example-time-input" class="col-xs-2 col-form-label">Time</label>#}
{#  <div class="col-xs-6">#}
{#    <input class="form-control" type="time" value="13:45:00" id="example-time-input">#}
{#  </div>#}
{#</div>#}
{##}
{#<div class="form-group row">#}
{#  <label for="example-no-of-guests" class="col-xs-2 col-form-label"> Guests</label>#}
{#  <div class="col-xs-2">#}
{#    <input class="form-control" type="number" value="2011-08-19" id="dropDownLink">#}
{##}
{#</div>#}
{#    </div>#}
{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block content %}
    <!--=====================
              Content
    ======================-->
                               <form method="post" class="form-horizontal">
                    {% csrf_token %}
                    {{ form |as_bootstrap_horizontal}}

 <button class="btn btn-primary reservation-message-sent" href="#">Submit</button>
{#        <button class="submit" type="button" style="margin-left: 40%; color:black; background-color: green;" onclick="postmessage(Message-sent)">Submit</button>#}


    </div>
    </form>
    <br>
{% endblock %}
<!--==============================
              footer
=================================-->


