{% extends 'base.html' %}
{% block content %}

    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Voucher Types
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Project One -->
        <div class="row">
            <div class="col-md-7">

                <img class="img-responsive" src="../static/images/voucher1.jpg" alt="Afternoon-Tea" width="700px" height="300px">
                </a>
            </div>
            <div class="col-md-5">
                <h3>The Season's Art Afternoon Tea</h3>

                <p><span>This certificate from The Season's, Dublin’s famous Restaurant includes the following:
                       Art Afternoon Tea for two in our Season's Drawing Rooms</span></p>
                <strong>€60.00</strong> <a class="btn btn-primary add-to-cart" href="#">Add to cart <span
                    class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Two -->
        <div class="row">
            <div class="col-md-7">
                <!-- <a href="#"> -->
                <img class="img-responsive" src="../static/images/voucher2.jpg" alt="Afternoon" width="700px" height="300px">
                </a>

            </div>
            <div class="col-md-5">
                <h3>The Season's Gift of Choice</h3>

                <p>This monetary voucher can be redeemed at The Season' Restaurant for your choice of romantic
                    dinners,sessions to indulgent Afternoon Tea, Vintage Wine's the only dilemma - which to choose!</p>

                <select>
                    <option value="€100.00">€100.00</option>
                    <option value="€200.00">€200.00</option>
                    <option value="€300.00">€300.00</option>
                    <option value="€400.00">€400.00</option>
                    <option value="€500.00">€500.00</option>
                    <option value="€600.00">€600.00</option>
                    <option value="€700.00">€700.00</option>
                    <option value="€800.00">€800.00</option>
                    <option value="€900.00">€900.00</option>
                    <option value="€1000.00">€1000.00</option>
                </select>
                <a class="btn btn-primary add-to-cart" href="#">Add to Cart <span
                        class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Three -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="../static/images/voucher3.jpg" alt=""  width ="700px" height="300px">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Dine & Dream at The Seasons</h3>

                <p>This certificate from The Merrion, Dublin’s most stylish five star hotel includes the following:
                    • One night's accommodation in a luxurious double room in the Garden Wing
                    • Full Irish Breakfast the next morning
                    • A three course dinner for two people from our 'House Menu' in The Cellar Restaurant</p>
                <strong>€98.00</strong>
                <a class="btn btn-primary add-to-cart" href="#">Add to Cart <span
                        class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Four -->
        <div class="row">

            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="../static/images/voucher5.png" alt="" width="700px" height="300px">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Sunday Brunch for 2 in The Season's Restaurant</h3>

                <p>This certificate from The Merrion, Dublin’s most luxurious five star hotel includes the following:

                    • Sunday Brunch for two in The Cellar Bar
                    2 course Brunch for two people, including a glass of Mimosa each</p>
                <strong>€65.00</strong>
                <a class="btn btn-primary add-to-cart" href="#">Add to Cart <span
                        class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Five -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="../static/images/big3.jpg" alt="" width="700px" height="300px">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Lunch for 2 in The Season's Restaurant</h3>

                <p>This certificate from The Merrion, Dublin’s most luxurious five star hotel includes the following:
                    • Lunch for two people in The Cellar Restaurant
                    Includes 3 courses and a specially chosen bottle of wine
                </p>
                <strong>€65.00</strong>
                <a class="btn btn-primary add-to-cart" href="#">Add to Cart<span
                        class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
    </div>

<br>
{% endblock %}